@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&display=swap" rel="stylesheet');

.all{
    background-color: #FFF5F7;
    display: flex;
    width: 1366px;
    height: 768;
}

.s{
    width: 461px;
    height: 428px;
    margin-top: 169px;
    margin-bottom: 169px;
    margin-left: 163px;
    margin-right: 112px;
}

.berhasil {
    color: #160D0D;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 40px;
    line-height: 48px;
    width: 445px;
    height: 51px;
    text-align: left;
    margin-top: 261px;
    font-weight: bold;
  }

  .segera {
      margin-right: 163px;
      margin-bottom: 37px;
      color: #606060;
      font-family: 'Be Vietnam Pro', sans-serif;
      font-size: 20px;
      width: 445px;
      text-align: left;
      height: 48px;
  }

  .kembali{
    background-color: #AD0020;
    border-radius: 15px;
    width: 220px;
    height: 48px;
    margin-bottom: 100px;
  }

  .tidak {
    color: #AD0020;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;
    line-height: 18px;
    width: 161px;
    text-align: left;
    margin-bottom: 194px;
  }