@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&display=swap" rel="stylesheet');

.body {
    display: flex;
    background-color: #FFF9F3 ;
    height: 768px;
    width: 1366px;
}

.a {
    width: 791px;
    height: 768px;
    /* width: 60vh;
    height: 60vw; */
}

.welcome {
    width: 575px;
    height: 768px;
    padding: 60px;
    
}

.t {
    width: 60px;
    height: 60px;
}

.lupa {
    color: #160D0D;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 40px;
    line-height: 48px;
    width: 445px;
    height: 102px;
    text-align: left;
    font-weight: bold;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .silahkan {
    color: #606060;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-top: 20px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 32px;
    padding-bottom: 32px;
    width: 445px;
    

  }

  .email {
    color: #160D0D;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
    text-align: left;
    padding-top: 32px;
    margin-top: 32px;
    margin-bottom: 40px;
  }

  .lupa-password {
      font-size: 12px;
      color: #AD0020;
      font-family: 'Be Vietnam Pro', sans-serif;
      align-items: right;
      font-weight: medium;
      height: 18px;
      padding-left: 362px;
  }

  .kirim {
    background-color: #AD0020;
    border-radius: 15px;
    width: 220px;
    height: 48px;
    margin-left: 227px;
    margin-top: 40px;
  }