.allbody {
    display: flex;
    background-color: #FFF9F3 ;
    height: 768px;
    width: 1366px;

}
.orna {
    width: 791px;
    height: 768px;
}

.right {
    margin: 60px 70px 128px 60px;
}

.oval {
    background-image: url(https://marvel-live.freetls.fastly.net/canvas/2022/2/1748069966b74e69b0ed6d47840d8f4e?quality=95&fake=.png);
    background-size: 100%;
    border-radius: 100%;
    width: 60px;
    height: 60px;
  }

  .selamat-datang{
    color: #160D0D;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    width: 445px;
    text-align: left;
    padding-top: 20px;
  }

  .silahkan-masukkan-em {
    color: #606060;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    width: 356px;
    height: 24px;
    padding-top: 20px;
    
  }

  .emaill {
    color: #160D0D;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 15px;
    text-align: left;
    width: 49px;
    height: 18px;
    font-weight: 600;
    margin-top: 32px;

  }
  .placeholder {
    color: #D5D5D5;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
  }
  .password {
    color: #160D0D;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 15px;
    text-align: left;
    font-weight: 600;
    width: 86px;
    height: 18px;
    margin-top: -32px;
  }
.frame {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 445px;
    height: 48px;
    
  }

  .components-link-text-link {
    color: #AD0020;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    padding-left: 347px;
  }

  .masuk-{
    background-color: #AD0020;
    border-radius: 15px;
    width: 220px;
    height: 48px;
    margin-left: 225px;
  }