.allrec {
    background-color: #FFFFFF;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.09);
    width: 270px;
    height: 768px;
}

.title {
    display: flex;
}

.sfa {
    color: #42010D;
    font-family: BeVietnamPro;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}